.index-page {
  width: 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse 80% 50% at 50% -20%, hsl(210, 100%, 90%), transparent);
}

.index-page-dark {
  background-image: radial-gradient(ellipse 80% 50% at 50% -20%, hsl(210, 100%, 16%), transparent);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 32px;
}

.hero-container-sm {
  padding-top: 80px;
  padding-bottom: 48px;
}

.hero-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.hero-stack-md {
  width: 70%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(3rem, 10vw, 3.5rem);
}

.hero-title-sm {
  flex-direction: row;
}

.hero-highlight {
  font-size: inherit;
  color: #1976d2;
}

.hero-highlight-dark {
  color: #90caf9;
}

.hero-description {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.hero-description-md {
  width: 80%;
}

.hero-input-stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding-top: 8px;
}

.hero-input-stack-sm {
  flex-direction: row;
  width: 350px;
}

.hero-caption {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.styled-box {
  align-self: center;
  width: 100%;
  height: 400px;
  margin-top: 32px;
  border-radius: 4px;
  outline: 6px solid;
  outline-color: hsla(220, 25%, 80%, 0.2);
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 12px 8px hsla(220, 25%, 80%, 0.2);
  background-image: url('https://mui.com/static/screenshots/material-ui/getting-started/templates/dashboard.jpg');
  background-size: cover;
}

.styled-box-sm {
  margin-top: 40px;
  height: 700px;
}

.styled-box-dark {
  box-shadow: 0 0 24px 12px hsla(210, 100%, 25%, 0.2);
  background-image: url('https://mui.com/static/screenshots/material-ui/getting-started/templates/dashboard-dark.jpg');
  outline-color: hsla(220, 20%, 42%, 0.1);
  border-color: #616161;
}

.features-container {
  padding: 32px 0;
  padding-top: 64px;
}

.features-container-sm {
  padding-top: 80px;
}

.features-content {
  width: 100%;
}

.features-content-md {
  width: 60%;
}

.features-title {
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px;
}

.features-description {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
  margin-bottom: 32px;
}

.features-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.features-layout-md {
  flex-direction: row-reverse;
  gap: 16px;
}

.features-desktop {
  display: none;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.features-desktop-sm {
  display: flex;
}

.feature-button {
  padding: 16px;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: rgba(0, 0, 0, 0.6);
}

.feature-button-hover:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.feature-button-selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.feature-button-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 4px;
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.6);
}

.feature-button-content-selected {
  color: rgba(0, 0, 0, 0.87);
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-layout-sm {
  display: none;
}

.mobile-chips {
  display: flex;
  gap: 8px;
  overflow: auto;
}

.mobile-card {
  pointer-events: none;
}

.mobile-card-media {
  margin-bottom: 16px;
  background-size: cover;
  background-position: center;
  min-height: 280px;
}

.mobile-card-content {
  padding: 16px;
}

.mobile-card-title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  margin-bottom: 6px;
}

.mobile-card-description {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 6px;
}

.desktop-image-container {
  display: none;
  width: 70%;
  height: var(--items-image-height);
}

.desktop-image-container-sm {
  display: flex;
}

.desktop-image-card {
  height: 100%;
  width: 100%;
  display: none;
  pointer-events: none;
}

.desktop-image-card-sm {
  display: flex;
}

.desktop-image-box {
  margin: auto;
  width: 420px;
  height: 500px;
  background-size: contain;
}

.chip {
  background: linear-gradient(to bottom right, hsl(210, 98%, 48%), hsl(210, 98%, 35%));
  color: hsl(0, 0%, 100%);
  border-color: #bbdefb;
}

.chip-label {
  color: hsl(0, 0%, 100%);
}